<div class="container">
	<div class="content">
		<% if @loyalty_program == "airmiles" %>
			<h2>Air Miles Points</h2>
			<h4> Hi <%= @name %> </h4>
			<h4> You have <%= @cashmiles %> cash miles </h4>
			<h4> and <%= @dreammiles %> dream miles </h4>

		<% elsif @loyalty_program == "aeroplan" %>
			<h2>Aeroplan Points</h2>
			<h4> Hi <%= @name %> </h4>
			<h4> You have <%= @mileage %> aeroplan miles </h4>
		<% else %>
			<h4> You did not select a loyalty program </h4>
		<% end %>

		<%= link_to "Back to Form", checkloyaltyaccount_path, class: "btn btn-default back_btn", type: 'button' %>
	</div>
</div>