<!DOCTYPE html>
<html>
<head>
  <title>Loyalty Point Manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<%= nav_bar :brand => "Loyalty Point Manager",:responsive=>true, :brand_link => '/'  %>

	<%= render 'layouts/flash_messages' %>

	<%= yield %>

	<div id="footer">
		<div class="container">
			<p class="footer-text"> Developed by <a href="http://www.rdavidwu.com">David Wu</a></p>
		</div>
	</div>
</body>

</html>
